*~
all-animals.jpg
animals.ods
animals.txt
animals_01_intro.mp3
animals_02_commands_nom_pl.mp3
animals_03_fire_gen_sing.mp3
animals_04_toys_gen_pl.mp3
animals_05_hunting_dat_sing.mp3
animals_06_food_dat_pl.mp3
animals_07_love_acc_sing.mp3
animals_08_fear_acc_pl.mp3
complete.mp3
declensions.rb
ideas.txt
prompts_for_recitation.rb

